

##Introduction
Weather prediction is a very tool we have in today's society. Before mid 19th century, people used to predict weather through various different tools and ways but it is most accurate in todays day and age. North Amereica has a diverse range of weather. Especially in New York, we see a range of swere thunderstorm to hot sunny days. Weather forcasting includes a lot of different things. For example, winds, humidity, temperature etc. 

In this research we will analyze the amount of smow that has fallen in New York city over the past decade. How many inches of snow was accumulated throughout the years based on every month and how has it shifted over the years and factors cause that. The change between the inches of snow comparing the last whole decade.

This information can be very vital for various different reasons. We all know how serious the issue of global warming is getting. Our sea level is rising constantly and the amount of snow we getting each year can play a vital role in that. It can determine when we should move out from certain neighbourhoods like in venice and etc.

##Research Question

In this paper we will reasearch that how much snow has fallen in NYC and how that has shifted over the years?
We will also discuss the factors that caused those changes and what impact they can have in the real world?

##Data
The data that will be used for this project will be from vitable resources. Below are the links of two different data's that provide the results for over the years in New York City.
We will download the data using CSV files.

http://www.cnyweather.com/wxsnowsummary.php

https://www.weather.gov/media/okx/Climate/CentralPark/monthlyseasonalsnowfall.pdf

We will download the data, import it in the access or excel file for ease of use and then analyze the data in the colab using different tools from python.

##Approach

We will generate any graphics that can help in understanding the data easily. We will download data from the resources and use access or excel to display the data and charts if any needed. We will do a exploratory data analysis and also test the variables. We will also show any charts or maps that help understant this easily.

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import missingno as msno
import seaborn as sns

df= pd.read_csv("https://raw.githubusercontent.com/MuhammadAsif12345/project-5/main/project%205.csv")
df.head()

,Header,Date,Jul,Aug,Sep,Oct,Nov,Dec,Jan,Feb,Mar,Apr,May,Jun,Year
0,Snowfall,2021 / 2022,0.0,0.0,0.0,0.0,3.9,7.6,14.9,16.8,14.6,8.7,0.0*,---,66.5*
1,Snowfall,2020 / 2021,0.0,0.0,0.0,0.0,3.5,17.8,18.6,31.7,1.4,1.6,0.0,0.0,74.6
2,Snowfall,2019 / 2020,0.0,0.0,0.0,0.0,4.1,18.7,10.5,27.7,7.7,3.2,1.7,0.0,73.6
3,Snowfall,2018 / 2019,0.0,0.0,0.0,0.0,21.3,7.5,23.5,24.9,6.9,5.7,0.0,0.0,89.8
4,Snowfall,2017 / 2018,0.0,0.0,0.0,0.0,3.7,26.3,21.2,21.1,35.9,1.5,0.0,0.0,109.7

In the data above, I imported the data in excel from the website and loaded it in excel. I then saved the file as a CSV file and uploaded in github and then ran the raw code and copy pasted the url above in the code and then ran it.

I encountered a problem that the entire data is visible in the raw code and also in excel and obviously on the website itself as well but it is not displaying completely above in python. I have also tried to use google spreas sheet but that was giving me some error in the code also.